<div>
    <form method="POST" action="/admin/course/create">
        <div class="mb-3">
            <label for="name" class="form-label">Tên sản phẩm:</label>
            <input name="name" type="text" class="form-control" id="name" aria-describedby="emailHelp" oninput=""
                required>
        </div>
        <div class="mb-3"></div>
            <label for="name" class="form-label">Giá sản phẩm:</label>
            <input name="price" type="number" class="form-control" id="name" aria-describedby="emailHelp" oninput=""
                required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Mô tả:</label>
            <input name="description" type="text" class="form-control" id="description">
        </div>
        <button type="submit" class="btn btn-primary">Thêm Sản phẩm</button>
    </form>
</div>