<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/register.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Đăng ký tài khoản</title>
</head>

<body>
    <div class="registers">
        {{!-- <img src="/images/betrang.jpg" alt=""> --}}
        <div class=" regis p-3">
            <form method="POST" action="/">
                <h3 class="text-center">Đăng ký tài khoản</h3>
                <div class="mb-3">
                    <label class="form-label">Tên người dùng:</label>
                    <input name="name" type="text" class="form-control" placeholder="Nhập tên người dùng" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Tài khoản:</label>
                    <input name="username" type="text" class="form-control" placeholder="Nhập tài khoản đăng ký" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Mật khẩu:</label>
                    <input name="password" type="password" class="form-control" placeholder="Nhập mật khẩu" required>
                </div>
                {{!-- <div class="mb-3">
                    <label class="form-label">Nhập lại mật khẩu:</label>
                    <input name="originalPassword" type="password" class="form-control" placeholder="Nhập lại mật khẩu">
                </div> --}}
                <div class="text-end">
                    <a href="/login" class="btn btn-warning">Đã có tài khoản</a>
                    <button class="btn btn-success" type="submit">Đăng ký</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>